<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap.css') }}">
  <script src="{{ url_for('static', filename='jquery.js') }}"></script>
  <title>Alertas Ruta 38</title>


  <script>

    var titulos = ['descripcion', 'tipo', 'tramo', 'nivel', 'fecha_inicio']

    function buscar() {

      var tramo = document.getElementById("tramo").value;
      var tipo = document.getElementById("tipo").value;
      var desde = document.getElementById("desde").value;
      var hasta = document.getElementById("hasta").value;

      if (hasta != "") {
        if (desde > hasta) {
          alert("La fecha desde debe ser menor que la fecha hasta");
          return
        }
      }

      req = $.ajax({
        url: '/buscadorAlertas',
        type: 'POST',
        data: { 'desde': desde, 'hasta': hasta, 'tramo': tramo, 'tipo': tipo }
      });

      req.done(function (data) {
        if (data.result == "error") {
          alert(data.error);
          return
        }
        else {

          datos = data.alertas
          datoss = JSON.parse(datos)

          $("#alertasDatos tr").remove();

          for (var i = 0; i < datoss.length; i++) {

            var row$ = $('<tr/>');
            for (var colIndex = 0; colIndex < 5; colIndex++) {
              var cellValue = datoss[i][titulos[colIndex]];

              /* if(titulos[colIndex]=='fecha_inicio'){
                  cellValue = datoss[i]['fecha_inicio']['$date'];
                }*/

              if (cellValue == null) cellValue = "";


              if (cellValue == 'extrema') {
                cellValue = cellValue + ' <img src="{{ url_for("static", filename="extrema.png") }}" style="width: 25px;" alt="">';
              }
              row$.append($('<td/>').html(cellValue));
            }
            $('#alertasTabla').append(row$);
          }
          document.getElementById("contenido").style.visibility='visible';
        }
      });


    }

  </script>

</head>

<body>

  <div class="row" style="background-color: rgb(123, 138, 139); padding-left: 25px;">
    <div class="col-1"><img src="{{ url_for('static', filename='logo.png') }}" alt=""
        style="width: 50px; margin-left: 10px; padding-top: 10px;"></div>
    <div style="padding-top: 10px; color: white;">
      <h2>Gestión de Riesgos ruta nacional 38</h2>
    </div>
  </div>


  <br>

  <div class="container">
    <div>
      <ul class="nav nav-tabs">
        <li class="nav-item">
          <a class="nav-link" href="/novedades">Novedades</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/ultimas24hs">Alertas en las últimas 24 hs</a>
        </li>
        <li class="nav-item ">
          <a class="nav-link " href="/informes">Informes</a>
        </li>
        <li class="nav-item ">
          <a class="nav-link active" href="#">Buscador</a>
        </li>
        <li class="nav-item ">
          <a class="nav-link" href="/incidentes">Incidentes</a>
        </li>
      </ul>
    </div>
    <br>
    <br>

    <div class="form-group row">
      <div class="row col-10">
        <div class="row col-6">
          <div class="col-3">
            <label class="col-form-label" for="inputDefault">Tipo: </label>
          </div>
          <div class="col-9">
            <select class="custom-select" id="tipo">
              <option selected value="">Todos los tipos de Riesgo</option>
                {% for Tip in Tipos %}
                  <option value="{{Tip['nombre']}}">{{Tip['descripcion']}}</option>
                {% endfor %}
              </select>
          </div>
        </div>
        <div class="row col-6">
          <div class="col-3">
            <label class="col-form-label" for="inputDefault">Tramo: </label>
          </div>
          <div class="col-9">
            <select class="custom-select" id="tramo">
              <option selected value="">Todos los tramos</option>             
                {% for T in Tramos %}
                  <option value="{{T['nombre']}}">{{T['nombre']}}</option>
                {% endfor %}
            </select>
          </div>
        </div>
        
        <div class="row col-6" style="margin-top: 15px; ">
          <div class="col-3">
            <label class="col-form-label" for="inputDefault">Desde: </label>
          </div>
          <div class="col-9">
            <input type="datetime-local" class="form-control" placeholder="Default input" id="desde">
          </div>
        </div>
        <div class="row col-6" style="margin-top: 15px;">
          <div class="col-3">
            <label class="col-form-label" for="inputDefault">Hasta: </label>
          </div>
          <div class="col-9">
            <input type="datetime-local" class="form-control" placeholder="Default input" id="hasta">
          </div>
        </div>

      </div>
      <div class="col-2">
        <div class="col-1">
          <button type="button" class="btn btn-primary" style="margin-left:-60px" onclick="buscar()">Buscar</button>
        </div>
      </div>
    </div>

    <div id="contenido" style="visibility: hidden;">
      <table class="table table-striped" id="alertasTabla">
        <thead>
          <tr class="table-primary">
            <td>Descripción</td>
            <td>Tipo</td>
            <td>Tramo</td>
            <td>Nivel de riesgo</td>
            <td>Fecha y Hora</td>
          </tr>
        </thead>
        <tbody id="alertasDatos">

        </tbody>
      </table>
    </div>

  </div>

</body>

</html>