<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap.css') }}">
    <script src="{{ url_for('static', filename='jquery.js') }}"></script>
    <title>Alertas Ruta 38</title>

  
  <script>
      
    function generar(){
        var tipo = document.getElementById("tipo").value;
        var tramo = document.getElementById("tramo").value;
        var comentario = document.getElementById("comentario").value;
       
        if (tipo == "-") {
            alert("Debe seleccionar un tipo de riesgo");
            return
        }
        if (tramo == "-") {
            alert("Debe seleccionar un tramo de la ruta");
            return
        }
        if (comentario == "") {
            alert("Debe escribir un comentario");
            return
        }
        req = $.ajax({
            url: '/nuevoIncidente',
            type: 'POST',
            data: { 'tipo': tipo, 'tramo': tramo,'comentario': comentario }
        });

        req.done(function (data) {
            if (data.result == "error") {
                alert(data.error);
                return
            }
            else {
                alert("Se genero el incidente correctamente")  
                window.location.href = "/incidentes";           
            }
        });


    }
      
     
  </script>

</head>

<body>

  <div class="row" style="background-color: rgb(123, 138, 139); padding-left: 25px;">
    <div class="col-1"><img src="{{ url_for('static', filename='logo.png') }}" alt=""
        style="width: 50px; margin-left: 10px; padding-top: 10px;"></div>
    <div style="padding-top: 10px; color: white;">
      <h2>Gestión de Riesgos ruta nacional 38</h2>
    </div>
  </div>


  <br>
  
  <div class="container">
    <div>
      <ul class="nav nav-tabs">
          <li class="nav-item">
              <a class="nav-link" href="/novedades">Novedades</a>
          </li>
          <li class="nav-item">
              <a class="nav-link" href="/ultimas24hs">Alertas en las últimas 24 hs</a>
          </li>
          <li class="nav-item ">
              <a class="nav-link " href="/informes">Informes</a>
          </li>
          <li class="nav-item ">
              <a class="nav-link" href="/buscador">Buscador</a>
          </li>
          <li class="nav-item ">
            <a class="nav-link active" href="#">Incidentes</a>
          </li>
      </ul>
  </div>
    <br>
    <br>

    <div class="form-group row">
        <div class="row col-12">          
            <div class="row col-8" > 
              <div class="col-3">
                <label class="col-form-label" for="inputDefault">Tipo: </label>
              </div>
              <div class="col-9">
                  <select class="custom-select"  id="tipo">
                      <option selected value="-">Seleccione el Tipo de Riesgo</option>
                      {% for Tip in Tipos %}
                         <option value="{{Tip['nombre']}}">{{Tip['descripcion']}}</option>
                      {% endfor %}
                      <option value="otros">Otros</option>
                  </select>
              </div>
            </div>
            <div class="row col-8" style="margin-top: 15px;"> 
                <div class="col-3">
                    <label class="col-form-label" for="inputDefault">Tramo: </label>
                  </div>
                <div class="col-9">
                <select class="custom-select"  id="tramo">
                    <option selected value="-">Seleccione el Tramo</option>
                    {% for T in Tramos %}
                        <option value="{{T['nombre']}}">{{T['nombre']}}</option>
                    {% endfor %}
    
                </select>
            </div>
        </div>
             <div class="row col-8" style="margin-top: 15px; ">
                <div class="col-3">
                    <label class="col-form-label" for="inputDefault">Comentario: </label>
                </div>
                <div class="col-9">
                    <textarea rows="4"  class="form-control" id="comentario"></textarea>
            </div>
        </div>    
           
        </div>
        <div class="col-3">
            <div class="col-1">
                <button type="button" class="btn btn-primary"  style="margin-top: 35px; margin-left: -15px;"
                    onclick="generar()">Generar</button>
            </div>
        </div>

        <div class="col-3">
            <div class="col-1">
                <a class="btn btn-danger" style="margin-top: 35px;" href="/incidentes">Volver</a>
            </div>
        </div>
    </div>
  
</body>

</html>