<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap.css') }}">
  <script src="{{ url_for('static', filename='jquery.js') }}"></script>
  <title>Alertas Ruta 38</title>


  <script>

    var titulos = ['tipo', 'tramo', 'comentario', 'fecha_creacion', 'estado']

    function buscar() {

      var tramo = document.getElementById("tramo").value;
      var tipo = document.getElementById("tipo").value;
      var desde = document.getElementById("desde").value;
      var hasta = document.getElementById("hasta").value;
      var sinVisualizar = document.getElementById("sinVisualizar").checked;
      var sinAlertar = document.getElementById("sinAlertar").checked;

      if (hasta != "") {
        if (desde > hasta) {
          alert("La fecha desde debe ser menor que la fecha hasta");
          return
        }
      }

      req = $.ajax({
        url: '/buscadorIncidentes',
        type: 'POST',
        data: { 'desde': desde, 'hasta': hasta, 'tramo': tramo, 'tipo': tipo, 'sinVisualizar': sinVisualizar, 'sinAlertar': sinAlertar }
      });

      req.done(function (data) {
        if (data.result == "error") {
          alert(data.error);
          return
        }
        else {

          datos = data.incidentes
          datoss = JSON.parse(datos)

          $("#incidentesDatos tr").remove();

          for (var i = 0; i < datoss.length; i++) {

            var row$ = $('<tr/>');
            for (var colIndex = 0; colIndex < 5; colIndex++) {
              var cellValue = datoss[i][titulos[colIndex]];
              
              if (cellValue == null) cellValue = "";
              if (cellValue == 'NoVisualizado') {
                cellValue = 'No Visualizado';
              }

              row$.append($('<td/>').html(cellValue));
            }
            const idIncidente = datoss[i]['_id']['$oid']
            const tdDetalle = document.createElement("td");
            const buttonDetalle = document.createElement("button");
            buttonDetalle.type = 'button';
            buttonDetalle.className = 'btn btn-info';
            buttonDetalle.innerText = 'ver';

            buttonDetalle.onclick = function () {

              window.location.href = "/detalleIncidente?id=" + idIncidente + "";


            };

            tdDetalle.appendChild(buttonDetalle);

            row$.append(tdDetalle)

            $('#incidentesTabla').append(row$);

          }
          document.getElementById("contenido").style.visibility='visible';
        }
      });


    }



  </script>
<style>
  .table-wrapper-scroll-y {
   position: relative;
   height: 500px;
   overflow: auto;
   display: block; 
 }
</style>
</head>

<body>

  <div class="row" style="background-color: rgb(123, 138, 139); padding-left: 25px;">
    <div class="col-1"><img src="{{ url_for('static', filename='logo.png') }}" alt=""
        style="width: 50px; margin-left: 10px; padding-top: 10px;"></div>
    <div style="padding-top: 10px; color: white;">
      <h2>Gestión de Riesgos ruta nacional 38</h2>
    </div>
  </div>


  <br>

  <div class="container">
    <div>
      <ul class="nav nav-tabs">
        <li class="nav-item">
          <a class="nav-link" href="/novedades">Novedades</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/ultimas24hs">Alertas en las últimas 24 hs</a>
        </li>
        <li class="nav-item ">
          <a class="nav-link " href="/informes">Informes</a>
        </li>
        <li class="nav-item ">
          <a class="nav-link" href="/buscador">Buscador</a>
        </li>
        <li class="nav-item ">
          <a class="nav-link active" href="#">Incidentes</a>
        </li>
      </ul>
    </div>
    <br>
    <br>


    <div class="form-group row">
      <div class="row col-10">
        <div class="row col-6">
          <div class="col-3">
            <label class="col-form-label" for="inputDefault">Tipo: </label>
          </div>
          <div class="col-9">
            <select class="custom-select" id="tipo">
              <option selected value="">Todos los tipos de Riesgo</option>
              {% for Tip in Tipos %}
                <option value="{{Tip['nombre']}}">{{Tip['descripcion']}}</option>
              {% endfor %}
              <option value="otros">Otros</option>
            </select>
          </div>
        </div>
        <div class="row col-6">
          <div class="col-3">
            <label class="col-form-label" for="inputDefault">Tramo: </label>
          </div>
          <div class="col-9">
            <select class="custom-select" id="tramo">
              <option selected value="">Todos los tramos</option>
              {% for T in Tramos %}
                  <option value="{{T['nombre']}}">{{T['nombre']}}</option>
              {% endfor %}

            </select>
          </div>
        </div>

        <div class="row col-6" style="margin-top: 15px; ">
          <div class="col-3">
            <label class="col-form-label" for="inputDefault">Desde: </label>
          </div>
          <div class="col-9">
            <input type="datetime-local" class="form-control" placeholder="Default input" id="desde">
          </div>
        </div>
        <div class="row col-6" style="margin-top: 15px;">
          <div class="col-3">
            <label class="col-form-label" for="inputDefault">Hasta: </label>
          </div>
          <div class="col-9">
            <input type="datetime-local" class="form-control" placeholder="Default input" id="hasta">
          </div>
        </div>
        <div class="row col-6" style="margin-top: 15px;">
          <div class="col-4">
            <label class="col-form-label" for="inputDefault">Sin visualizar: </label>
          </div>
          <div class="col-2">
            <input type="checkbox" style="width: 30px; margin-top: 12px; " class="" id="sinVisualizar">
          </div>
        </div>
        <div class="row col-6" style="margin-top: 15px;">
          <div class="col-3">
            <label class="col-form-label" for="inputDefault">Sin alertar: </label>
          </div>
          <div class="col-2" style="text-align: right;">
            <input type="checkbox" style="width: 30px; margin-top: 12px; margin-left: -10px; " class="" id="sinAlertar">
          </div>
        </div>


      </div>
      <div class="col-1">
        <div class="col-1">
          <button type="button" class="btn btn-primary" style="margin-left:-60px" onclick="buscar()">Buscar</button>
        </div>
      </div>
      <div class="col-1">
        <div class="col-1">
          <a class="btn btn-danger" href="/generarIncidente">+</a>
        </div>
      </div>
    </div>

    <div id="contenido" style="visibility: hidden;" class="table-wrapper-scroll-y container"> 
      <table class="table table-striped" id="incidentesTabla">
        <thead>
          <tr class="table-primary">

            <td>Tipo</td>
            <td>Tramo</td>
            <td>Comentario</td>
            <td>Fecha y Hora</td>
            <td>Estado</td>
            <td>Detalle</td>
          </tr>
        </thead>
        <tbody id="incidentesDatos">

        </tbody>
      </table>
    </div>
  </div>

</body>

</html>