<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='estilos.css') }}">
    <script src="{{ url_for('static', filename='jquery.js') }}"></script>
    <title>Alertas Ruta 38</title>

    <script>

        var tramoSeleccionado = ""

        function actualizar() {

            var tramo = document.getElementById("tramo").value;

            var img0 = document.getElementById("img0")
            img0.style.display = "none";
            var img1 = document.getElementById("img1")
            img1.style.display = "none";
            var img2 = document.getElementById("img2")
            img2.style.display = "none";
            var img3 = document.getElementById("img3")
            img3.style.display = "none";
            var img4 = document.getElementById("img4")
            img4.style.display = "none";
            var img5 = document.getElementById("img5")
            img5.style.display = "none";

            var sinDatosLluvia = document.getElementById("sinDatosLluvia")
            sinDatosLluvia.style.display = "none";
            var sinDatosNiebla = document.getElementById("sinDatosNiebla")
            sinDatosNiebla.style.display = "none";
            var sinDatosHumo = document.getElementById("sinDatosHumo")
            sinDatosHumo.style.display = "none";
            var sinDatosViento = document.getElementById("sinDatosViento")
            sinDatosViento.style.display = "none";
            var sinDatosAnimales = document.getElementById("sinDatosAnimales")
            sinDatosAnimales.style.display = "none";
            var sinDatosVehiculos = document.getElementById("sinDatosVehiculos")
            sinDatosVehiculos.style.display = "none";


            if (tramo == "-") {
                alert("Debe seleccionar un tramo de la ruta");
                return
            }
            tramoSeleccionado = tramo;

            req = $.ajax({
                url: '/estadisticasUltimas24',
                type: 'POST',
                data: { 'tramo': tramo }
            });

            req.done(function (data) {
                if (data.result == "error") {
                    alert(data.error);
                    return
                }
                else {

                    var imgLluvia = data.imagenLluvia
                    if (imgLluvia == "SinDatos") {
                        sinDatosLluvia.style.display = "block";
                    }
                    else {
                        img0.style.display = "block";
                        img0.setAttribute("src", 'data:image/png;base64,' + imgLluvia);

                    }

                    var imgNiebla = data.imagenNiebla
                    if (imgNiebla == "SinDatos") {
                        sinDatosNiebla.style.display = "block";
                    }
                    else {
                        img1.style.display = "block";
                        img1.setAttribute("src", 'data:image/png;base64,' + imgNiebla);

                    }

                    var imgHumo = data.imagenHumo 
                    if (imgHumo == "SinDatos") {
                        sinDatosHumo .style.display = "block";
                    }
                    else {
                        img2.style.display = "block";
                        img2.setAttribute("src", 'data:image/png;base64,' + imgHumo );

                    }

                    var imgViento = data.imagenViento
                    if (imgViento == "SinDatos") {
                        sinDatosViento.style.display = "block";
                    }
                    else {
                        img3.style.display = "block";
                        img3.setAttribute("src", 'data:image/png;base64,' + imgViento);

                    }

                    var imgAnimales = data.imagenAnimales
                    if (imgAnimales == "SinDatos") {
                        sinDatosAnimales.style.display = "block";
                    }
                    else {
                        img4.style.display = "block";
                        img4.setAttribute("src", 'data:image/png;base64,' + imgAnimales);

                    }

                    var imgVehiculos = data.imagenVehiculos
                    if (imgVehiculos == "SinDatos") {
                        sinDatosVehiculos.style.display = "block";
                    }
                    else {
                        img5.style.display = "block";
                        img5.setAttribute("src", 'data:image/png;base64,' + imgVehiculos);

                    }
                    document.getElementById("contenido").style.visibility='visible';
                }
            });
        }

        function AgrandarImagen(texto,imagen) {
            document.getElementById("modal").style.display = "block";
            document.getElementById("modalTexto").innerHTML=texto+tramoSeleccionado;
            var modalImagen = document.getElementById("modalImagen");
            var agrandarImagen = document.getElementById(imagen).src;
            modalImagen.setAttribute("src",agrandarImagen);
        }

        function cerrarModal() {
            document.getElementById("modal").style.display = "none";
        }

        window.onclick = function (event) {
            if (event.target == document.getElementById("modal")) {
                document.getElementById("modal").style.display = "none";
            }
        }

    </script>

</head>

<body>

    <div class="row" style="background-color: rgb(123, 138, 139); padding-left: 25px;">
        <div class="col-1"><img src="{{ url_for('static', filename='logo.png') }}" alt=""
                style="width: 50px; margin-left: 10px; padding-top: 10px;"></div>
        <div style="padding-top: 10px; color: white;">
            <h2>Gestión de Riesgos ruta nacional 38</h2>
        </div>
    </div>

    <br>
    <div class="container">
        <div>
            <ul class="nav nav-tabs">
                <li class="nav-item">
                    <a class="nav-link" href="/novedades">Novedades</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="#">Alertas en las últimas 24 hs</a>
                </li>
                <li class="nav-item ">
                    <a class="nav-link " href="/informes">Informes</a>
                </li>
                <li class="nav-item ">
                    <a class="nav-link" href="/buscador">Buscador</a>
                </li> 
                <li class="nav-item ">
                    <a class="nav-link" href="/incidentes">Incidentes</a>
                </li> 
            </ul>
        </div>
        <br>
        <br>
        <div class="form-group row">
            <div class="col-4">
                <select class="custom-select" style="width:230px" id="tramo">
                    <option selected value="-">Seleccione el Tramo</option>
                    {% for T in Tramos %}
                        <option value="{{T['nombre']}}">{{T['nombre']}}</option>
                    {% endfor %}
                </select>
            </div>

            <div class="col-2">
                <button type="button" class="btn btn-primary" onclick="actualizar()">Actualizar</button>
            </div>
        </div>
        <br>

        <div id="contenido" style="visibility: hidden;">

        <div class="row" style="text-align: center;">
            <div class="col-4">
                <div class="card border-light mb-3">
                    <div class="card-header">Lluvia</div>
                    <h6 id="sinDatosLluvia" style="display: none">No ocurrieron alertas para este tipo de riesgo en las ultimas 24hs</h6>
                    <img class="card-img-top" src="" id="img0" alt="alt" style=" display: none; " onclick="AgrandarImagen('Lluvia en tramo ','img0')">
                </div>

            </div>
            <div class="col-4">
                <div class="card border-light mb-3" >
                    <div class="card-header">Niebla</div>
                    <h6 id="sinDatosNiebla" style="display: none">No ocurrieron alertas para este tipo de riesgo en las ultimas 24hs</h6>
                    <img class="card-img-top" src="" id="img1" alt="alt" style=" display: none; " onclick="AgrandarImagen('Niebla en tramo ','img1')">

                </div>
            </div>
            <div class="col-4">
                <div class="card border-light mb-3" >
                    <div class="card-header">Humo</div>
                    <h6 id="sinDatosHumo" style="display: none">No ocurrieron alertas para este tipo de riesgo en las ultimas 24hs</h6>
                    <img class="card-img-top" src="" id="img2" alt="alt" style=" display: none; " onclick="AgrandarImagen('Humo en tramo ','img2')">

                </div>
            </div>


        </div>
        <div class="row" style="text-align: center;">
            <div class="col-4">
                <div class="card border-light mb-3" >
                    <div class="card-header">Vientos</div>
                    <h6 id="sinDatosViento" style="display: none">No ocurrieron alertas para este tipo de riesgo en las ultimas 24hs</h6>
                    <img class="card-img-top" src="" id="img3" alt="alt" style=" display: none; " onclick="AgrandarImagen('Vientos en tramo ','img3')">

                </div>
            </div>
            <div class="col-4">
                <div class="card border-light mb-3" >
                    <div class="card-header">Animales sueltos</div>
                    <h6 id="sinDatosAnimales" style="display: none">No ocurrieron alertas para este tipo de riesgo en las ultimas 24hs</h6>
                    <img class="card-img-top" src="" id="img4" alt="alt" style=" display: none; " onclick="AgrandarImagen('Animales sueltos en tramo ','img4')">

                </div>
            </div>
            <div class="col-4">
                <div class="card border-light mb-3" >
                    <div class="card-header">Vehículos lentos</div>
                    <h6 id="sinDatosVehiculos" style="display: none">No ocurrieron alertas para este tipo de riesgo en las ultimas 24hs</h6>
                    <img class="card-img-top" src="" id="img5" alt="alt" style=" display: none; " onclick="AgrandarImagen('Vehículos lentos en tramo ','img5')">

                </div>
            </div>
        </div>
</div>
        <br>

    </div>
    <div class="modal" id="modal">
        <div class="modal-content">
            <header>
                <button class="close" onclick="cerrarModal()" style="font-size: small;">x</button>
                <h4 style="text-align: center; margin-bottom: 20px; color: rgb(1, 71, 1);;" id="modalTexto"> 
                </h4>

            </header>

           <div style="text-align: center; color:black ;">
                <img src="" id="modalImagen" alt="algo" >
            </div> 

        </div>
    </div>


</body>

</html>